src/main/resources/client.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/springsoap/gen"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/springsoap/gen" targetNamespace="http://www.example.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/springsoap/gen">

            <xs:element name="getClientRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="client" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getClientResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="response" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="getClientResponse">
        <wsdl:part element="tns:getClientResponse" name="getClientResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getClientRequest">
        <wsdl:part element="tns:getClientRequest" name="getClientRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ClientPort">
        <wsdl:operation name="getClient">
            <wsdl:input message="tns:getClientRequest" name="getClientRequest">
            </wsdl:input>
            <wsdl:output message="tns:getClientResponse" name="getClientResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientPortSoap11" type="tns:ClientPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getClient">
            <soap:operation soapAction="" />
            <wsdl:input name="getClientRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getClientResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClientPortService">
        <wsdl:port binding="tns:ClientPortSoap11" name="ClientPortSoap11">
            <soap:address location="http://localhost:8181/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>