src/main/resources/ClientService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.cleverbuilder.com/ClientService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService"
                  targetNamespace="http://localhost:8181/ClientService/">
    <wsdl:documentation>Definition for a web service called BookService,
        which can be used to add or retrieve books from a collection.
    </wsdl:documentation>

    <!--
        The `types` element defines the data types (XML elements)
        that are used by the web service.
     -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cleverbuilder.com/ClientService/">
            <xsd:element name="Client">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="surname" type="xsd:string"/>
                        <xsd:element name="patronymic" type="xsd:string"/>
                        <xsd:element name="birthDate" type="xsd:date"/>
                        <xsd:element name="gender" type="xsd:string"/>
                        <xsd:element name="document" type="xsd:complexType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Document">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="series" type="xsd:string"/>
                        <xsd:element name="number" type="xsd:string"/>
                        <xsd:element name="type" type="xsd:string"/>
                        <xsd:element name="issueDate" type="xsd:date"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Client" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetBookResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Client" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


        </xsd:schema>
    </wsdl:types>


    <!--
        A wsdl `message` element is used to define a message
        exchanged between a web service, consisting of zero
        or more `part`s.
     -->

    <wsdl:message name="GetBookRequest">
        <wsdl:part element="tns:GetBook" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetBookResponse">
        <wsdl:part element="tns:GetBookResponse" name="parameters" />
    </wsdl:message>

    <!--
        A WSDL `portType` is used to combine multiple `message`s
        (e.g. input, output) into a single operation.
        Here we define three synchronous (input/output) operations
        and the `message`s that must be used for each.
     -->
    <wsdl:portType name="ClientService">
        <wsdl:operation name="GetBook">
            <wsdl:input message="tns:GetBookRequest" />
            <wsdl:output message="tns:GetBookResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <!--
        The `binding` element defines exactly how each
        `operation` will take place over the network.
        In this case, we are using SOAP.
     -->
    <wsdl:binding name="ClientServiceSOAP" type="tns:ClientService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetBook">
            <soap:operation soapAction="http://www.cleverbuilder.com/ClientService/GetBook" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--
        The `service` element finally says where the service
        can be accessed from - in other words, its endpoint.
     -->
    <wsdl:service name="ClientService">
        <wsdl:port binding="tns:ClientServiceSOAP" name="ClientServiceSOAP">
            <soap:address location="http://www.example.org/ClientService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
